html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 700:;
}
header{
  text-align: center;
  padding: 1em;
  background-image: url("../images/waves-pattern.png");
  color: #502204;
}

h1{
  background-image: url(../images/beetle.svg),  url("../images/beetle.svg");
  background-repeat: no-repeat;
  background-position: right, left;
  display: inline-block;
  width: 100%;
  font-size: 2.5em;
  margin: 0;
}

.left-beetle{
  float: left;
  clear: left;
}

.right-beetle{
  float: right;
}

.banner{
  witdh: 100%;
  background-image: url(../images/banner.jpg);
  background-size: 100%;
  text-align: center;
  color: white;
  padding-top: 8em;
  padding-bottom: .6em;
  margin: 0;
  box-shadow: 0 -30px 263px black inset
}
